<!--Tidak diperbolehkan menghapus/meng-comment app-case-->
<app-case></app-case>

<div>
  <form [formGroup]="todoform" (ngSubmit)="onSubmit()">
    <label> User ID
      <br>
      <input type="text" formControlName="userId"> 
      <!-- Ubah menjadi Autocomplete / Dropdown / Input Text dengan Validasi User ID yang dimasukan harus terdaftar -->
      <!-- Tambahkan validasi required untuk userId-->
    </label>
    <br>
    <label> Title
      <br>
      <input type="text" formControlName="title">
      <!-- Tambahkan validasi required untuk Title-->
    </label>
    <br>
    <label> Body
      <br>
      <input type="text" formControlName="body">
      <!-- Tambahkan validasi masukan yang diterima hanya alfanumeric untuk Title-->
    </label>
    <!--
      Tambahkan tombol 'Simpan' disini
    -->
    <!--
      Tambahkan tombol 'Batal' disini
    -->
  </form>
</div>

<!--
  Tambahkan table baru dengan tombol 'Hapus' & 'Ubah' disetiap baris data disini
-->